In [9]:
import pandas as pd
import pandas_ta as ta
from sklearn.metrics import r2_score

# STEP 1: Get the dataframe

In [10]:
df = pd.read_csv('/Users/user/code/Stanislas-Motte/MLStocks4Everyone/AEX.csv')

In [11]:
df

                  DATETIME   price
0      2009-08-18 23:00:00  121.97
1      2009-08-19 23:00:00  121.67
2      2009-08-20 23:00:00  125.77
3      2009-08-21 23:00:00  132.17
4      2009-08-24 23:00:00  135.37
...                    ...     ...
63132  2021-03-08 17:00:00  667.00
63133  2021-03-08 17:35:00  666.60
63134  2021-03-08 18:00:00  663.70
63135  2021-03-08 19:00:00  663.65
63136  2021-03-08 20:00:00  662.80

[63137 rows x 2 columns]

In [12]:
df['DATETIME'] = pd.to_datetime(df['DATETIME'])

In [13]:
df

                 DATETIME   price
0     2009-08-18 23:00:00  121.97
1     2009-08-19 23:00:00  121.67
2     2009-08-20 23:00:00  125.77
3     2009-08-21 23:00:00  132.17
4     2009-08-24 23:00:00  135.37
...                   ...     ...
63132 2021-03-08 17:00:00  667.00
63133 2021-03-08 17:35:00  666.60
63134 2021-03-08 18:00:00  663.70
63135 2021-03-08 19:00:00  663.65
63136 2021-03-08 20:00:00  662.80

[63137 rows x 2 columns]

In [14]:
df= df.set_index(df['DATETIME']).drop(columns=['DATETIME'])
df

                      price
DATETIME
2009-08-18 23:00:00  121.97
2009-08-19 23:00:00  121.67
2009-08-20 23:00:00  125.77
2009-08-21 23:00:00  132.17
2009-08-24 23:00:00  135.37
...                     ...
2021-03-08 17:00:00  667.00
2021-03-08 17:35:00  666.60
2021-03-08 18:00:00  663.70
2021-03-08 19:00:00  663.65
2021-03-08 20:00:00  662.80

[63137 rows x 1 columns]

In [15]:
df

                      price
DATETIME
2009-08-18 23:00:00  121.97
2009-08-19 23:00:00  121.67
2009-08-20 23:00:00  125.77
2009-08-21 23:00:00  132.17
2009-08-24 23:00:00  135.37
...                     ...
2021-03-08 17:00:00  667.00
2021-03-08 17:35:00  666.60
2021-03-08 18:00:00  663.70
2021-03-08 19:00:00  663.65
2021-03-08 20:00:00  662.80

[63137 rows x 1 columns]

# STEP 2: Create the Features

### 1. Moving average

In [16]:
# Create a column with the average of the last three values of price
df['AVG_PRICE'] = df['price'].rolling(window=7).mean()

### 2. Exponential Moving Average (EMA)

In [17]:
df['EMA'] = ta.ema(df['price'], length=7)

### 3. Stochastic oscillator

In [18]:
# Calculate the stochastic oscillator
df['stochastic_oscillator'] = (df['price'] - df['price'].rolling(window=14).min()) / (df['price'].rolling(window=14).max() - df['price'].rolling(window=14).min())

# Multiply by 100 to get the percentage
df['stochastic_oscillator'] *= 100

In [19]:
df.head(28)

                      price   AVG_PRICE         EMA  stochastic_oscillator
DATETIME
2009-08-18 23:00:00  121.97         NaN         NaN                    NaN
2009-08-19 23:00:00  121.67         NaN         NaN                    NaN
2009-08-20 23:00:00  125.77         NaN         NaN                    NaN
2009-08-21 23:00:00  132.17         NaN         NaN                    NaN
2009-08-24 23:00:00  135.37         NaN         NaN                    NaN
2009-08-25 23:00:00  137.57         NaN         NaN                    NaN
2009-08-26 23:00:00  136.27  130.112857  130.112857                    NaN
2009-08-27 23:00:00  134.52  131.905714  131.214643                    NaN
2009-08-28 23:00:00  137.87  134.220000  132.878482                    NaN
2009-08-31 23:00:00  134.27  135.434286  133.226362                    NaN
2009-09-01 23:00:00  128.72  134.941429  132.099771                    NaN
2009-09-02 23:00:00  126.82  133.720000  130.779828                    NaN
2009-09-03 23:00:00  126.67  132.162857  129.752371                    NaN
2009-09-04 23:00:00  130.52  131.341429  129.944278              54.629630
2009-09-07 23:00:00  136.27  131.591429  131.525709              90.123457
2009-09-08 23:00:00  138.37  131.662857  133.236782             100.000000
2009-09-09 23:00:00  141.77  132.734286  135.370086             100.000000
2009-09-10 23:00:00  143.62  134.862857  137.432565             100.000000
2009-09-11 23:00:00  145.42  137.520000  139.429424             100.000000
2009-09-14 23:00:00  144.37  140.048571  140.664568              94.400000
2009-09-15 23:00:00  145.97  142.255714  141.990926             100.000000
2009-09-16 23:00:00  150.27  144.255714  144.060694             100.000000
2009-09-17 23:00:00  151.37  146.112857  145.888021             100.000000
2009-09-18 23:00:00  151.07  147.441429  147.183516              98.785425
2009-09-21 23:00:00  149.12  148.227143  147.667637              90.890688
2009-09-22 23:00:00  150.37  148.934286  148.343227              95.951417
2009-09-23 23:00:00  150.92  149.870000  148.987421              97.841727
2009-09-24 23:00:00  146.27  149.912857  148.308065              66.225166

### 4. Relative Strength Index (RSI)

In [20]:
df['RSI'] = ta.rsi(df['price'])

### 5. Fibonacci ü§å retracement

In [21]:
## df['fibonacci_retracement'] = df['price'] - df['AVG_PRICE'] ?????????

### 6.Ichiboku cloud üí©‚òÅÔ∏è

In [22]:
df['Tenkan_Sen'] = (df['price'].rolling(window=9).max() + df['price'].rolling(window=9).min()) / 2
df['Kijun_Sen'] = (df['price'].rolling(window=26).max() + df['price'].rolling(window=26).min()) / 2
df['Senkou_Span_A'] = (df['Tenkan_Sen'] + df['Kijun_Sen']) / 2
df['Senkou_Span_B'] = (df['price'].rolling(window=52).max() + df['price'].rolling(window=52).min()) / 2
df['Chikou_Span'] = df['price'].shift(-26)

### 7. Average directional index (ADX)

In [23]:
#df['ADX'] = ta.adx(df['High'], df['Low'], df['Close'], length=14)

### 8. Bolinger Bands

In [24]:
# train = df[df['DATETIME'] < '2020-01-01']
# test = df[df['DATETIME'] >= '2020-01-01']

# Compute standard deviation of price over past 20 days and add to price

for i in range(1,11):
    df[f'BB_SellSignal {i} %'] = df['price'] > (df['price'] + df['price'].rolling(window=20).std() * i/10)
    df[f'BB_BuySignal {i} %'] = df['price'] < (df['price'] - df['price'].rolling(window=20).std() * i/10)

In [25]:
df['HowMuchAbove3dAverage'] = df['price'] - df['AVG_PRICE']

In [26]:
df

,price,AVG_PRICE,EMA,stochastic_oscillator,RSI,Tenkan_Sen,Kijun_Sen,Senkou_Span_A,Senkou_Span_B,Chikou_Span,...,BB_BuySignal 6 %,BB_SellSignal 7 %,BB_BuySignal 7 %,BB_SellSignal 8 %,BB_BuySignal 8 %,BB_SellSignal 9 %,BB_BuySignal 9 %,BB_SellSignal 10 %,BB_BuySignal 10 %,HowMuchAbove3dAverage
DATETIME,,,,,,,,,,,,,,,,,,,,,
2009-08-18 23:00:00,121.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.92,...,False,False,False,False,False,False,False,False,False,NaN
2009-08-19 23:00:00,121.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.27,...,False,False,False,False,False,False,False,False,False,NaN
2009-08-20 23:00:00,125.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.22,...,False,False,False,False,False,False,False,False,False,NaN
2009-08-21 23:00:00,132.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.77,...,False,False,False,False,False,False,False,False,False,NaN
2009-08-24 23:00:00,135.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.82,...,False,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-08 17:00:00,667.00,663.621429,664.031350,100.000000,63.893826,661.750,659.425,660.5875,656.35,NaN,...,False,False,False,False,False,False,False,False,False,3.378571
2021-03-08 17:35:00,666.60,664.371429,664.673513,96.190476,62.810624,663.000,660.150,661.5750,656.35,NaN,...,False,False,False,False,False,False,False,False,False,2.228571
2021-03-08 18:00:00,663.70,664.907143,664.430135,68.571429,55.468530,663.475,660.150,661.8125,656.35,NaN,...,False,False,False,False,False,False,False,False,False,-1.207143
2021-03-08 19:00:00,663.65,665.078571,664.235101,68.095238,55.348401,663.475,661.500,662.4875,656.35,NaN,...,False,False,False,False,False,False,False,False,False,-1.428571
2021-03-08 20:00:00,662.80,664.985714,663.876326,60.000000,53.237568,664.725,661.500,663.1125,656.35,NaN,...,False,False,False,False,False,False,False,False,False,-2.185714

In [28]:
df.dropna(inplace=True)

In [29]:
df

,price,AVG_PRICE,EMA,stochastic_oscillator,RSI,Tenkan_Sen,Kijun_Sen,Senkou_Span_A,Senkou_Span_B,Chikou_Span,...,BB_BuySignal 6 %,BB_SellSignal 7 %,BB_BuySignal 7 %,BB_SellSignal 8 %,BB_BuySignal 8 %,BB_SellSignal 9 %,BB_BuySignal 9 %,BB_SellSignal 10 %,BB_BuySignal 10 %,HowMuchAbove3dAverage
DATETIME,,,,,,,,,,,,,,,,,,,,,
2009-10-28 23:00:00,142.96,156.524286,153.447676,0.000000,38.800816,154.760,151.715,153.2375,144.115,158.16,...,False,False,False,False,False,False,False,False,False,-13.564286
2009-10-29 23:00:00,149.16,154.310000,152.375757,26.271186,46.649908,154.760,151.715,153.2375,144.115,161.61,...,False,False,False,False,False,False,False,False,False,-5.150000
2009-10-30 23:00:00,142.11,151.045714,149.809318,0.000000,40.317744,153.535,151.715,152.6250,146.165,160.86,...,False,False,False,False,False,False,False,False,False,-8.935714
2009-11-02 23:00:00,142.16,148.438571,147.896988,0.204499,40.379555,153.535,151.715,152.6250,146.615,156.16,...,False,False,False,False,False,False,False,False,False,-6.278571
2009-11-03 23:00:00,139.71,145.581429,145.850241,0.000000,38.287127,150.060,151.715,150.8875,146.615,153.31,...,False,False,False,False,False,False,False,False,False,-5.871429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-04 20:00:00,651.25,653.571429,652.723193,41.263941,38.932811,652.425,656.100,654.2625,656.475,667.00,...,False,False,False,False,False,False,False,False,False,-2.321429
2021-03-05 07:00:00,651.85,652.635714,652.504894,45.724907,40.260472,652.150,655.475,653.8125,656.475,666.60,...,False,False,False,False,False,False,False,False,False,-0.785714
2021-03-05 08:00:00,653.95,651.971429,652.866171,61.338290,44.785152,652.150,654.100,653.1250,656.475,663.70,...,False,False,False,False,False,False,False,False,False,1.978571
2021-03-05 09:00:00,653.30,651.585714,652.974628,56.505576,43.682317,652.150,653.950,653.0500,656.475,663.65,...,False,False,False,False,False,False,False,False,False,1.714286
2021-03-05 10:00:00,656.35,652.035714,653.818471,79.182156,49.914748,651.025,653.950,652.4875,656.475,662.80,...,False,False,False,False,False,False,False,False,False,4.314286

In [35]:
X = pd.DataFrame(df.drop(['price'], axis=1))
y = pd.DataFrame(df['price'])

In [36]:
y

                      price
DATETIME
2009-10-28 23:00:00  142.96
2009-10-29 23:00:00  149.16
2009-10-30 23:00:00  142.11
2009-11-02 23:00:00  142.16
2009-11-03 23:00:00  139.71
...                     ...
2021-03-04 20:00:00  651.25
2021-03-05 07:00:00  651.85
2021-03-05 08:00:00  653.95
2021-03-05 09:00:00  653.30
2021-03-05 10:00:00  656.35

[49062 rows x 1 columns]

In [53]:
split_index = int(0.7*len(df))

In [54]:
X_train = df.iloc[:split_index]
X_test = df.iloc[split_index:]

In [57]:
y_train = X_train[['price']]
y_test = X_test[['price']]

In [43]:
X_train = X_train.drop(columns=['price'])
X_test = X_test.drop(columns=['price'])

In [48]:
X_train.shape

(34343, 30)

In [47]:
X_test.shape

(14719, 30)

In [58]:
y_train

                      price
DATETIME
2009-10-28 23:00:00  142.96
2009-10-29 23:00:00  149.16
2009-10-30 23:00:00  142.11
2009-11-02 23:00:00  142.16
2009-11-03 23:00:00  139.71
...                     ...
2019-01-18 18:15:00  476.60
2019-01-18 18:30:00  476.80
2019-01-18 18:45:00  477.25
2019-01-18 19:00:00  477.15
2019-01-18 19:15:00  476.85

[34343 rows x 1 columns]

In [59]:
y_test

                      price
DATETIME
2019-01-18 19:30:00  476.60
2019-01-18 19:45:00  476.90
2019-01-18 20:00:00  476.90
2019-01-18 20:15:00  476.95
2019-01-18 20:30:00  477.15
...                     ...
2021-03-04 20:00:00  651.25
2021-03-05 07:00:00  651.85
2021-03-05 08:00:00  653.95
2021-03-05 09:00:00  653.30
2021-03-05 10:00:00  656.35

[14719 rows x 1 columns]

# Step 3: Create your target variable : what you want to predict --> Future returns %

In [18]:
#Make target the daily returns
df['target'] = ((df['price'] / df['price'].shift(-1)) - 1)*100

In [19]:
df['price']

DATETIME
2009-08-18 23:00:00    121.97
2009-08-19 23:00:00    121.67
2009-08-20 23:00:00    125.77
2009-08-21 23:00:00    132.17
2009-08-24 23:00:00    135.37
                        ...
2021-03-08 17:00:00    667.00
2021-03-08 17:35:00    666.60
2021-03-08 18:00:00    663.70
2021-03-08 19:00:00    663.65
2021-03-08 20:00:00    662.80
Name: price, Length: 63137, dtype: float64

In [20]:
df['price'].shift(-1)

DATETIME
2009-08-18 23:00:00    121.67
2009-08-19 23:00:00    125.77
2009-08-20 23:00:00    132.17
2009-08-21 23:00:00    135.37
2009-08-24 23:00:00    137.57
                        ...
2021-03-08 17:00:00    666.60
2021-03-08 17:35:00    663.70
2021-03-08 18:00:00    663.65
2021-03-08 19:00:00    662.80
2021-03-08 20:00:00       NaN
Name: price, Length: 63137, dtype: float64

In [21]:
df

,price,AVG_PRICE,EMA,stochastic_oscillator,RSI,Tenkan_Sen,Kijun_Sen,Senkou_Span_A,Senkou_Span_B,Chikou_Span,...,BB_SellSignal 7 %,BB_BuySignal 7 %,BB_SellSignal 8 %,BB_BuySignal 8 %,BB_SellSignal 9 %,BB_BuySignal 9 %,BB_SellSignal 10 %,BB_BuySignal 10 %,HowMuchAbove3dAverage,target
DATETIME,,,,,,,,,,,,,,,,,,,,,
2009-08-18 23:00:00,121.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.92,...,False,False,False,False,False,False,False,False,NaN,0.246569
2009-08-19 23:00:00,121.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.27,...,False,False,False,False,False,False,False,False,NaN,-3.259919
2009-08-20 23:00:00,125.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.22,...,False,False,False,False,False,False,False,False,NaN,-4.842249
2009-08-21 23:00:00,132.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.77,...,False,False,False,False,False,False,False,False,NaN,-2.363892
2009-08-24 23:00:00,135.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.82,...,False,False,False,False,False,False,False,False,NaN,-1.599186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-08 17:00:00,667.00,663.621429,664.031350,100.000000,63.893826,661.750,659.425,660.5875,656.35,NaN,...,False,False,False,False,False,False,False,False,3.378571,0.060006
2021-03-08 17:35:00,666.60,664.371429,664.673513,96.190476,62.810624,663.000,660.150,661.5750,656.35,NaN,...,False,False,False,False,False,False,False,False,2.228571,0.436944
2021-03-08 18:00:00,663.70,664.907143,664.430135,68.571429,55.468530,663.475,660.150,661.8125,656.35,NaN,...,False,False,False,False,False,False,False,False,-1.207143,0.007534
2021-03-08 19:00:00,663.65,665.078571,664.235101,68.095238,55.348401,663.475,661.500,662.4875,656.35,NaN,...,False,False,False,False,False,False,False,False,-1.428571,0.128244
2021-03-08 20:00:00,662.80,664.985714,663.876326,60.000000,53.237568,664.725,661.500,663.1125,656.35,NaN,...,False,False,False,False,False,False,False,False,-2.185714,NaN

In [22]:
# Install pandas ta with pip install pandas_ta

In [23]:
import pandas_ta as ta

In [24]:
# Create a DataFrame so 'ta' can be used.
df = pd.DataFrame()

# Help about this, 'ta', extension
#help(df.ta)

# List of all indicators
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [25]:
# Help about an indicator such as bbands
help(ta.accbands)

Help on function accbands in module pandas_ta.volatility.accbands:

accbands(high, low, close, length=None, c=None, drift=None, mamode=None, offset=None, **kwargs)
    Acceleration Bands (ACCBANDS)

    Acceleration Bands created by Price Headley plots upper and lower envelope
    bands around a simple moving average.

    Sources:
        https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/acceleration-bands-abands/

    Calculation:
        Default Inputs:
            length=10, c=4
        EMA = Exponential Moving Average
        SMA = Simple Moving Average
        HL_RATIO = c * (high - low) / (high + low)
        LOW = low * (1 - HL_RATIO)
        HIGH = high * (1 + HL_RATIO)

        if 'ema':
            LOWER = EMA(LOW, length)
            MID = EMA(close, length)
            UPPER = EMA(HIGH, length)
        else:
            LOWER = SMA(LOW, length)
            MID = SMA(close, length)
            UPPER = SMA(HIGH, length)

    Args:
        high (pd.Series): Series of 'high's
        low (pd.Series): Series of 'low's
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 10
        c (int): Multiplier. Default: 4
        mamode (str): See ```help(ta.ma)```. Default: 'sma'
        drift (int): The difference period. Default: 1
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: lower, mid, upper columns.

### ARIMA Model to Predict Stock Price

In [26]:
df.dropna()

Empty DataFrame
Columns: []
Index: []

In [27]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
train_size = 0.7
index = round(train_size*df.shape[0])

df_train = df.iloc[:index]
df_test = df.iloc[index:]

In [29]:
y_pred = df_test
y_true = df_test[1:]

print(f"R2: {r2_score(y_true, y_pred)}")

ValueError: at least one array or dtype is required